@{
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}
@{
    ViewData["Title"] = "Wachtwoord vergeten bevestiging";
}

<a asp-area="" asp-controller="Account" asp-action="Login" class="btn-default">kruisje</a>
<h2>Wachtwoord vergeten</h2>
<p>
    Er is een mail met een nieuw wachtwoord naar je email-adres verzonden.
</p>
