@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{ 
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<div id="login" class="jumbotron col-md-4 col-md-offset-1 animated fadeInDown">
    <div class="tabs">
        <a asp-area="" asp-controller="Account" asp-action="Login" class="tab btn-default col-md-6 active" style=" pointer-events: none">Aanmelden</a>
        <a asp-area="" asp-controller="Account" asp-action="Register" class="tab btn-default col-md-6">Registreren</a>
    </div>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal gegevens">
       
        <div class="input-group col-md-offset-1 col-md-10" id="gegeven">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
             <input asp-for="Email" id="email" type="text" class="form-control" name="email" placeholder="E-mailadres">
           
        </div><span asp-validation-for="Email" class="text-danger"></span>
        <div class="input-group col-md-offset-1 col-md-10" id="gegeven" >
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input asp-for="Password" id="password" type="password" class="form-control" name="" placeholder="Wachwoord">
           
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        <p id="ww">
            <a asp-action="ForgotPassword">Wachtwoord vergeten?</a>
        </p>
        <div class="form-group">
            <div class="col-md-12" id="aanmelden">
                <button type="submit" class="btn btn-default knop">Aanmelden</button>
            </div>
        </div>

    </form>

    </div>



