@{
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}
@{
    ViewData["Title"] = "Wachtwoord vergeten bevestiging";
}


<div class="jumbotron col-md-4 col-md-offset-1 box box-left" id="login">

    <div class="col-md-1 col-md-offset-11">
        <a asp-area="" asp-controller="Account" asp-action="Login" class="kruis"><span><i class="fa fa-times fa-2x" aria-hidden="true"></i> </span></a>
    </div>
    <div class="vergeten">
        <h2 class="tabWw">Registreren gelukt!</h2>
        <p>
            Er is een bevestigingsmail naar je email-adres verzonden.
        </p>
    </div>
</div>
