@{
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}
@{
    ViewData["Title"] = "Wachtwoord vergeten bevestiging";
}

<a asp-area="" asp-controller="Account" asp-action="Login" class="btn-default">Aanmelden</a>
<a asp-area="" asp-controller="Account" asp-action="Register" class="btn-default">Registreren</a>

<h2>Registreren gelukt!</h2>
<p>
    Er is een bevestigingsmail naar je email-adres verzonden.
</p>
