@{
    ViewData["Title"] = "Reset password confirmation";
}
@{
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<div class="jumbotron col-md-4 col-md-offset-1 box box-left" id="login">

    <p>
        Het wachtwoord is gewijzigd! <a asp-controller="Account" asp-action="Login">Klik hier om aan te melden</a>.
    </p>
</div>
