@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}
@{
    ViewData["Title"] = "Reset password";
}

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
    <h4>Kies een nieuw wachtwoord</h4>
    <hr />
    
    <input asp-for="Code" type="hidden" />
    <div class="input-group col-md-offset-1" style="padding-bottom: 8px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input asp-for="Email" id="email" type="text" class="form-control" name="email" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="input-group col-md-offset-1" style="padding-bottom: 8px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input asp-for="Password" id="password" type="password" class="form-control" name="password" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="input-group col-md-offset-1" style="padding-bottom: 8px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input asp-for="ConfirmPassword" id="password" type="password" class="form-control" name="password" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Wijzigen</button>
        </div>
    </div>
</form>

<environment names="Development">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
</environment>

