@{
    ViewData["Title"] = "Reset password confirmation";
}
@{
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<p>
    Het wachtwoord is gewijzigd! <a asp-controller="Account" asp-action="Login">Klik hier om aan te melden</a>.
</p>
