<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KostenBatenTool</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="wrap">
        <nav class="nav-bar" role="navigation">
            <div id="top-menu" class="container-fluid active">
                <a class="navbar-brand" href="#"><img src="~/images/kairosLogo.png" alt="logo" id="logo"/></a>
                <ul class="nav navbar-nav">
                    <li class="dropdown movable">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Naam gebruiker</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><span class="fa fa-user"></span>Mijn profiel</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="fa fa-power-off"></span>Uitloggen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <aside id="side-menu" class="aside" role="navigation">
                <ul class="nav nav-list accordion">
                    <li class="nav-header"><i class="fa fa-home fa-3x"></i></li>
                    <li class="nav-header"><i class="fa fa-bar-chart fa-2x"></i></li>
                    <li class="nav-header"><i class="fa fa-archive fa-2x"></i></li>
                </ul>
        </aside>
        </div>
       <div class="container body-content">
      @RenderBody()
        <hr />
     <!--   <footer>
            <p>&copy; 2017 - KostenBatenTool</p>
        </footer>-->
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://use.fontawesome.com/f9fbd9e00a.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <script src="https://use.fontawesome.com/f9fbd9e00a.js"></script>    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
