@using Microsoft.AspNetCore.Identity
@using KostenBatenTool.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
    <ul class="nav navbar-nav">
        <li class="nav-header">
        <li class="dropdown movable">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@UserManager.GetUserName(User) <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a asp-area="" asp-controller="Account" asp-action="Edit"><span class="fa fa-user"></span> Mijn profiel</a></li>
                <li class="divider"></li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link uitloggen"><span class="fa fa-power-off"></span> Uitloggen</button>
                </li>
            </ul>
        </li>

    </ul>
</form>
