@using Microsoft.AspNetCore.Identity
@using KostenBatenTool.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var icoon = "";
    var melding = "";
    ApplicationUser user = await UserManager.GetUserAsync(User);
    if (user != null)
    {
        ViewData["naam"] = user.Voornaam + " " + user.Naam;
        if (user.OngelezenBerichten)
        {
            icoon = "fa-bell-o";
            melding = "fa-bell-o";
        }
        else
        {
            icoon ="fa-commenting-o";
        }

    }

}
<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right noMobile col-xs-4 col-xs-offset-5 col-sm-2 col-sm-offset-5">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle menubar" data-toggle="dropdown" ><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li class="Nmobile"><a asp-area="" asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span>   Home</a></li>
                <li class="Nmobile"><a asp-area="" asp-controller="Analyse" asp-action="Nieuw"><span class="fa fa-balance-scale "></span>   Nieuwe analyse</a></li>
                <li class="Nmobile"><a asp-area="" asp-controller="Analyse" asp-action="Index"><span class="fa fa-archive "></span>   Archief</a></li>
                <li class="divider"></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Berichten"><span class="fa @icoon"></span>   Berichten</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span class="fa fa-envelope-o"></span>   Contact</a></li>
                <li class="divider"></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Edit"><span class="fa fa-user"></span>   Mijn profiel</a></li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link uitloggen"><span class="fa fa-power-off"></span>   Uitloggen</button>
                </li>
            </ul>
        </li>
    </ul>
</form>

<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right mobile">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa @melding"></span> @ViewData["naam"] <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a asp-area="" asp-controller="Account" asp-action="Edit"><span class="fa fa-user"></span> Mijn profiel</a></li>
                <li class="divider"></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Berichten"><span class="fa @icoon"></span> Berichten</a></li>
                <li class="divider"></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span class="fa fa-envelope-o"></span> Contact</a></li>
                <li class="divider"></li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link uitloggen"><span class="fa fa-power-off"></span> Uitloggen</button>
                </li>
            </ul>
        </li>

    </ul>
</form>
