
@font-face {
    font-family: 'abadi';
    src: url('../font/abadi.ttf');
    src: url('../font/abadi.ttf'), url('../font/abadi.ttf'), url('../font/abadi.ttf');
}

html.dash {
    background: url('../images/bgD.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

html.begin {
    background: url('../images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}



body {
    background-color: transparent;
    font-family: 'abadi' !important;
    font-size: 20px;
}

.body-content {
    margin-left: 120px;
    padding-left: 10px;
    padding-right: 15px;
    background-color: rgba(255,255,255, 0.7);
    width: auto;
    min-height: 91vmin;
}

/*naam gebruiker*/
a.dropdown-toggle {
    color: white;
}

    a.dropdown-toggle:hover,
    a.dropdown-toggle:focus {
        background: rgba(255,255,255, 0.7);
        color: black;
    }


/* logo*/
#logo {
    height: 40px;
    margin-top: -10px;
}

/* sidebar */
.wrap {
    position: relative;
}

div#top-menu {
    height: 70px;
    padding-top: 10px;
}

.wrap .nav-bar .nav {
    float: right !important;
}

    /*.wrap .nav-bar .nav .dropdown span.fa,
    .wrap .nav-bar .nav .dropdown span.caret {
        margin-right: 10px;
    }*/

    .wrap .nav-bar .nav .dropdown-menu {
        left: auto;
        width: 200px;
        right: 0;
    }

        .wrap .nav-bar .nav .dropdown-menu > li > a, .uitloggen {
            font-size: 20px;
            color: black;
            background: white;
            padding: 8px;
        }

            .wrap .nav-bar .nav .dropdown-menu > li > a:hover, .uitloggen:hover {
                background: #F6F9E6;
                text-decoration: none;
                color: black;
                width: 100%;
                text-align: left;
            }

.navbar-inner {
    background: transparent;
}

.wrap #side-menu {
    position: absolute;
    z-index: 0; /* aangepast naar 0, was niet klikbaar*/
    width: 120px;
}


.wrap ul.accordion li {
    /*   height: 70px;*/
    cursor: pointer;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .wrap ul.accordion li i {
        align-items: center;
        top: 16px;
        left: 12px;
        color: white;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }


@media screen and (max-width: 768px) {
    .wrap .nav-bar .navbar-brand {
        margin-top: 0;
        padding-left: 0;
    }

    .wrap .side-menu-link {
        display: inline-block;
    }

    .wrap #side-menu #qform {
        position: absolute;
        top: 10px;
    }

    .wrap .content {
        left: 0;
    }

    .wrap.active .content {
        left: 21em;
    }
}

@media screen and (min-width: 769px) {
    .side-menu-link {
        display: none;
    }

    .wrap {
        position: relative;
    }

        .wrap .content {
            left: 21em;
            right: 0;
        }
}

.fa-home, .fa-balance-scale, .fa-archive {
    display: inline-block;
    width: 100%;
}

ul.nav.nav-list.accordion li i {
    text-align: center;
}

.nav > li > a:hover, .nav > li > a:focus, .active {
    background-color: #e4ecb7;
}

    .wrap ul.accordion li a:hover i, .active a i.fa {
        color: #78A208 !important;
    }


/* LOGIN & REGISTER */

.tabs {
    text-align: center;
    min-height: 110px;
}

.tab {
    background-color: transparent;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #3c4042;
    margin-bottom: 20px;
}

    .tab:first-of-type {
        border-right: 1px solid #3c4042;
        border-bottom-right-radius: 10px;
    }

    .tab:nth-of-type(2) {
        border-bottom-left-radius: 10px;
        border-left: 1px solid #3c4042;
    }

    .tab:hover, .tab:focus {
        background-color: transparent;
        text-decoration: none;
    }

    .tab.active {
        border: none;
        background-color: transparent;
    }

.jumbotron {
    background-color: white;
    border-radius: 10px;
    padding: 0;
    margin-bottom: 0;
    -webkit-box-shadow: 5px 5px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 34px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 34px 0px rgba(0,0,0,0.75);
    margin-left: 70px;
}

.intro {
    margin-top: 5%;
    margin-bottom: 5%;
}

.row {
    margin: 0;
}

.knop {
    color: #ffffff;
    background: #3c4042;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
}

#aanmelden {
    text-align: right;
}

#ww {
    text-align: right;
}

    #ww a {
        color: #3b4041;
        font-size: 15px;
    }

#intro {
    font-size: 15px;
    color: black;
}



img#logoIntro {
    width: 70%;
    /*filter: drop-shadow(1px 1px 7px rgba(0,0,0,.4));*/
}

#intro p {
    padding: 20px 5px;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: rgba(0, 0, 0, .3);
    font-size: 50px;
    padding-top: 80px;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}



#gegeven {
    padding: 30px 10px;
}

.gegevens {
    padding: 0 40px;
}

label.control-label {
    font-size: 16px;
}

span.text-danger.field-validation-error {
    font-size: 15px;
}

.wrapper {
    position: relative;
    height: 100vh;
}


/* absolute positioning and transforms */

.box-left {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.box-right {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}


/* analyseDetail*/
.analyseDetail {
    border: 10px solid transparent;
    border-radius: 20px;
    background-color: #fff;
    background-clip: padding-box;
    padding-top: 15px;
}

    .analyseDetail .table > tbody > tr > td {
        border-top: 0px !important;
    }

    .analyseDetail td:first-of-type {
        width: 40%;
    }

hr {
    margin: 0;
    border-top: 1px solid #3b4041;
}

/* Archief */
.archief {
    background-color: #fff;
    background-clip: padding-box;
    padding-top: 15px;
    margin-top: 15px;
}

    .archief td > i {
        display: none;
    }

    .archief tr:hover td > i {
        display: inline;
    }

    .archief td:nth-of-type(1),
    .archief td:nth-of-type(2),
    .archief td:nth-of-type(5),
    .archief td:nth-of-type(6),
    .archief td:nth-of-type(7),
    .archief td:nth-of-type(8) {
        width: 10%;
    }

.fa-trash {
    margin-left: 14px;
}

/* Contact admin */
#contact {
    position: fixed;
    bottom: 30px;
    left: 40px;
    color: white;
}

#omschrijving {
    height: 200px;
}

/* partial werkgevers */
#partial, #kostenpartial, #batenpartial {
    display: none;
}

.werkgevers {
    background-color: #fff;
    background-clip: padding-box;
    padding-top: 15px;
    margin-top: 15px;
}

    .werkgevers td {
        width: 20%;
    }

.werkgeverTabs a {
    border: 5px solid transparent;
    background-clip: padding-box;
    background-color: #78A208;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.werkgeverTabs {
    margin-top: 15px;
}

    .werkgeverTabs a:hover, .werkgeverTabs a:focus, .werkgeverTabs a:active {
        background-color: white;
        border: 5px solid transparent;
        color: #3b4041;
    }

/* Overzicht baten kosten */
.overzichtTabs {
    text-align: center;
    margin-top: 20px;
}

    .overzichtTabs a {
        background-color: #78A208;
        color: #fff;
        cursor: pointer;
        padding: 8px;
    }

        .overzichtTabs a:hover, .overzichtTabs a.active, .overzichtTabs a:focus {
            background-color: white;
            color: #3b4041;
            padding: 8px;
            text-decoration: none;
        }

        .overzichtTabs a:first-of-type {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .overzichtTabs a:last-of-type {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

.overzicht, .overzichtB, .overzichtK {
    background-color: #ffffff;
    margin-top: 10px;
    width: 100%;
    table-layout: fixed;
}


    .overzicht td:first-of-type, .overzicht td:last-of-type, .overzichtB td:first-of-type, .overzichtK td:first-of-type {
        width: 70px;
        text-align: center;
        font-size: 80%;
    }

    .overzicht th:first-of-type, .overzicht th:last-of-type, .overzichtB th:first-of-type, .overzichtK th:first-of-type {
        width: 70px;
    }

    .overzicht th, .overzichtB th, .overzichtK th {
        font-size: 90%;
    }


    .overzicht td:nth-of-type(2), .overzicht td:nth-of-type(5), .overzichtK td:nth-of-type(2), .overzichtB td:nth-of-type(2) {
        font-size: 80%;
    }

    .overzicht td:nth-of-type(3), .overzichtB td:nth-of-type(3) {
        color: green;
        font-size: 80%;
    }

    .overzicht td:nth-of-type(4), .overzichtK td:nth-of-type(3) {
        color: red;
        font-size: 80%;
    }

    .overzicht td:nth-of-type(3), .overzicht td:nth-of-type(4), .overzicht th:nth-of-type(3), .overzicht th:nth-of-type(4) {
        width: 150px;
        text-align: center;
    }

    .overzicht td:nth-of-type(5), .overzicht th:last-of-type {
        text-align: right;
    }

.overzichtBtn {
    margin-top: 25px;
    text-align: right;
}

h2 {
    font-size: 25px;
}

img#logo {
    width: 40px;
    margin-right: 20px;
}

/* ww wijzigen*/
form.form-horizontal.wwWijzigen {
    margin: 20px;
}

.ww {
    text-align: left !important;
}

.tabWw {
    background-color: transparent;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px 0;
}

.vergeten {
    text-align: center;
    margin: 100px 0;
}

.fa-times {
    margin-top: 10px;
    margin-left: -10px;
}

.fa-times:hover, .fa-times:focus {
    text-decoration: none;
    background-color: none;
    color: black;
}
.kruis {
    color: black;
}

.resultaat {
    font-size: 100px;
    font-weight: bold;
}
