@model KostenBatenTool.Models.ContactViewModel
@{
    ViewBag.Title = "Contact opnemen met een administrator";
}
<h1>@ViewBag.Title</h1>
<hr />
<form asp-controller="Home" asp-action="Contact" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" id="address">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <label for="onderwerp" class="control-label">Onderwerp</label>
            <input asp-for="Onderwerp" id="onderwerp" type="text" class="form-control" name="onderwerp">
            <span asp-validation-for="Onderwerp" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <label for="omschrijving" class="control-label">Omschrijving</label>
            <textarea asp-for="Omschrijving" id="omschrijving" type="text" class="form-control" name="omschrijving"></textarea>
            <span asp-validation-for="Omschrijving" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="mailen">
            <div class="col-md-9" id="contact">
                <a asp-controller="Home" asp-action="Index" class="btn btn-default knop">Annuleren</a>
                <button type="submit" class="btn btn-default knop">Verzend</button>
            </div>
        </div>
    </div>

</form>