@{
    ViewData["Title"] = "Home";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    @for (int i = 0; i < 4; i++)
    {
    <div class="col-md-4 col-sm-6 analyseDetail animated fadeIn">
        <img src="images/demallit.png" alt="colruytLogo" id="logo" />
        <a>De Mallit</a>
        <div>
            <table class="table table-responsive">
                <tr>
                    <td>Locatie</td>
                    <td>Aangemaakt op</td>
                    <td>Resultaat</td>
                </tr>
                <tr>
                    <td>Aalst</td>
                    <td>1/12/2016</td>
                    <td style="color: red">-1.695</td>
                </tr>
            </table>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 70%">
                2360
            </div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 30%">
                236
            </div>
        </div>
    </div>
    }
</div>
