<table class="table overzichtB">
    <tr>
        <th> </th>
        <th>BATEN</th>
        <th>BEDRAG</th>
    </tr>
    <tr>
        <td>1</td>
        <td>totale loonkostsubsidies</td>
        <td>1.230</td>
    </tr>
    <tr>
        <td>2</td>
        <td>tegemoetkoming in kosten voor aanpassingen werkomgeving/gereedschap</td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td>besparing reguliere medewerker op hetzelfde niveau</td>
        <td></td>
    </tr>
    <tr>
        <td>4</td>
        <td>besparing reguliere medewerker op hoger niveau</td>
        <td></td>
    </tr>
    <tr>
        <td>5</td>
        <td>besparing extra uitzendkracht</td>
        <td></td>
    </tr>
    <tr>
        <td>6</td>
        <td>inperking omzetverlies</td>
        <td></td>
    </tr>
    <tr>
        <td>7</td>
        <td>productiviteitswinst</td>
        <td></td>
    </tr>
    <tr>
        <td>8</td>
        <td>besparing op overuren</td>
        <td></td>
    </tr>
    <tr>
        <td>9</td>
        <td>besparing op outsourcing</td>
        <td></td>
    </tr>
    <tr>
        <td>10</td>
        <td>logistieke besparing</td>
        <td></td>
    </tr>
    <tr>
        <td>11</td>
        <td>andere besparingen</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>SUBTOTAAL BATEN</td>
        <td></td>
    </tr>
</table>