<table class="table overzichtK">
    <tr>
        <th> </th>
        <th>KOSTEN</th>
        <th>BEDRAG</th>
    </tr>
    <tr>
        <td>1</td>
        <td>loonkosten medewerkers met grote afstand tot arbeidsmarkt</td>
        <td>-5.693</td>
    </tr>
    <tr>
        <td>2</td>
        <td>voorbereiding start medewerker</td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td>extra kosten werkkledij en andere personeelskosten</td>
        <td></td>
    </tr>
    <tr>
        <td>4</td>
        <td>extra kosten voor aanpassing werkomgeving/gereedschap</td>
        <td></td>
    </tr>
    <tr>
        <td>5</td>
        <td>extra kosten opleiding</td>
        <td></td>
    </tr>
    <tr>
        <td>6</td>
        <td>extra kosten administratie en begeleiding</td>
        <td></td>
    </tr>
    <tr>
        <td>7</td>
        <td>andere kosten</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>SUBTOTAAL KOSTEN</td>
        <td></td>
    </tr>
</table>