<table class="table table-responsive table-striped werkgevers">
  <tr>
        <th>Werkgever</th>
        <th>Postcode</th>
        <th>Gemeente</th>
        <th>Werkuren per week</th>
        <th>Patronale bijdrage</th>
    </tr>

    @for (int i = 0; i < 5; i++)
    {
    
    <tr onclick="window.document.location='Index';">
        <td>Declerck</td>
        <td>9340</td>
        <td>Lede</td>
        <td>24</td>
        <td>35</td>
    </tr>
       
        }
</table>