@model KostenBatenTool.Models.AnalyseViewModels.AndereKostViewModel
@{
    ViewData["Title"] = "7. Andere kosten";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h2>Aan welke kosten kan nog meer worden gedacht?</h2>
<table class="table table-responsive table-striped">
    <tr>
        <th>Type</th>
        <th>Bedrag</th>
    </tr>

    @*@foreach (var item in Model)
        {

            <tr>
                <td>@item.Type</td>
                <td>@item.Bedrag</td>

            </tr>
        }*@
</table>

<div class="col-md-offset-10">
    <a id="toevoegenFunctie">+ kost toevoegen</a>
</div>

<div id="loonkostPartial" class="row">
    <div class="col-md-11 col-md-offset-1">
        @Html.Partial("_andereKostPartial")
    </div>
</div>