@model KostenBatenTool.Models.AnalyseViewModels.AndereBesparingViewModel
@{
    ViewData["Title"] = "11. Andere besparingen";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <h2 class="col-md-7">Aan welke besparingen kan er nog meer gedacht worden? Vul de bedragen in per jaar.</h2>
    <a id="toevoegenFunctie" class="col-md-offset-4"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>

<div class="row">
    <div class="col-md-6 ">
        <table class="table table-responsive table-striped functies">
            <tr>
                <th>Type besparing</th>
                <th>Jaarbedrag</th>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
            </tr>
            @*@foreach (var item in Model)
        {

            <tr>
                <td>@item.Beschrijving</td>
                <td>@item.Jaarbedrag</td>
            </tr>
        }*@
        </table>
    </div>
    <div id="partial" class="col-md-6">
        @Html.Partial("_andereBesparingPartial")
    </div>
</div>