@model KostenBatenTool.Models.AnalyseViewModels.AndereKostViewModel
@{
    ViewData["Title"] = "7. Andere kosten";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <h2 class="col-md-7">Aan welke kosten kan nog meer worden gedacht?</h2>
    <a id="toevoegenFunctie" class="col-md-offset-4"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>
<div class="row">
    <div class="col-md-6 ">
        <table class="table table-responsive table-striped functies">
            <tr>
                <th>Type</th>
                <th>Bedrag</th>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
            </tr>
            @*@foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Type</td>
                        <td>@item.Bedrag</td>

                    </tr>
                }*@
        </table>
    </div>
    <div id="partial" class="col-md-6">
        @Html.Partial("_andereKostPartial")
    </div>
</div>