@model KostenBatenTool.Models.AnalyseViewModels.LogistiekeBesparingViewModel
@{
    ViewData["Title"] = "10. Logistieke besparing";
}

<h1>@ViewData["Title"]</h1>
<hr />


<form asp-controller="Analyse" asp-action="LogistiekeBesparing" method="post" class="form-horizontal">

    <div class="row">
        <h2>Wat zijn de transportkosten van eventueel uitbesteedde zaken?</h2>
        <label asp-for="Transport" class="col-md-2 control-label ww">Jaarbedrag</label>
        <div class="col-md-3">
            <input asp-for="Transport" class="form-control" />
            <span asp-validation-for="Transport" class="text-danger"></span>
        </div>
    </div><div class="row">
              <h2>Wat zijn de logistieke handelingskosten van eventueel uitbesteedde zaken?</h2>

        <label asp-for="Logistiek" class="col-md-2 control-label ww">Jaarbedrag</label>
        <div class="col-md-3">
            <input asp-for="Logistiek" class="form-control" />
            <span asp-validation-for="Logistiek" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10" id="aanmelden">
            <button type="button" class="btn btn-default knop" id="loonkostnochange">Annuleren</button>
            <button type="submit" class="btn btn-default knop" id="">Toevoegen</button>
        </div>
    </div>
</form>
