@model KostenBatenTool.Models.AnalyseViewModels.LoonkostSubsidieViewModel
@{
    ViewData["Title"] = "1. Totale loonkostsubsidies (VOP, IBO en doelgroepvermindering)";
}

<h1>@ViewData["Title"]</h1>
<hr />
<h2></h2>
