@model KostenBatenTool.Models.AnalyseViewModels.LoonkostSubsidieViewModel
@{
    ViewData["Title"] = "1. Totale loonkostsubsidies (VOP, IBO en doelgroepvermindering)";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h2></h2>
