@model IEnumerable<KostenBatenTool.Models.Domain.Organisatie>
    @{
    ViewData["Title"] = "Nieuwe Analyse";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="container-fluid">
    <div class="row werkgeverTabs">
        <a asp-area="" asp-controller="Analyse" asp-action="Werkgever" class="col-md-3 col-md-offset-3">NIEUWE WERKGEVER</a>
        <a class="col-md-3" id="show-partial">BESTAANDE WERKGEVER</a>
    </div>
    <div id="partial" class="row">
        <div class="col-md-8 col-md-offset-2 ">
            @Html.Partial("_werkgeversPartial", Model)
        </div>
    </div>
</div>