@model KostenBatenTool.Models.AnalyseViewModels.OutsourcingBesparingViewModel
@{
    ViewData["Title"] = "9. Besparing op outsourcing ";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h2>Welke zaken worden extern ingekocht en kan op worden bespaard? Denk hierbij aan bijvoorbeeld uitbesteedde productie, schoonmaak, hoveniers enz.</h2>
<table class="table table-responsive table-striped">
    <tr>
        <th>Beschrijving</th>
       <th>Jaarbedrag</th>
    </tr>

    @*@foreach (var item in Model)
        {

            <tr>
                <td>@item.Beschrijving</td>
                <td>@item.Jaarbedrag</td>
            </tr>
        }*@
</table>

<div class="col-md-offset-10">
    <a id="toevoegenFunctie">+ baat toevoegen</a>
</div>

<div id="loonkostPartial" class="row">
    <div class="col-md-11 col-md-offset-1">
        @Html.Partial("_outsourcingBesparingPartial")
    </div>
</div>