@model KostenBatenTool.Models.AnalyseViewModels.OutsourcingBesparingViewModel
@{
    ViewData["Title"] = "9. Besparing op outsourcing ";
}

<h1>@ViewData["Title"]</h1>
<hr />


<div class="row">
    <h2 class="col-md-7">Welke zaken worden extern ingekocht en kan op worden bespaard? Denk hierbij aan bijvoorbeeld uitbesteedde productie, schoonmaak, hoveniers enz.</h2>
    <a id="toevoegenFunctie" class="col-md-offset-4"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>
<div id="partial" class="row">
    <div class="col-md-6 col-md-offset-3">
        @Html.Partial("_outsourcingBesparingPartial")
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-responsive table-striped functies">
            <tr>
                <th>Beschrijving</th>
                <th>Jaarbedrag</th>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
            </tr>
            @*@foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Beschrijving</td>
                        <td>@item.Jaarbedrag</td>
                    </tr>
                }*@
        </table>
    </div>
</div>