@model KostenBatenTool.Models.AnalyseViewModels.UitzendkrachtenBesparingViewModel
@{
    ViewData["Title"] = "5. Besparing (extra) uitzendkrachten";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <h2 class="col-md-7">Welke besparing denkt u te kunnen maken op uitzendkrachten?</h2>
    <a id="toevoegenFunctie" class="col-md-offset-4"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>

<div class="row">
    <div class="col-md-6 ">
        <table class="table table-responsive table-striped functies">
            <tr>
                <th>Beschrijving</th>
                <th>JaarBedrag</th>

            </tr>
            <tr>
                <td>-</td>
                <td>-</td>

            </tr>
            @*@foreach (var item in Model)
        {

            <tr>
                <td>@item.Beschrijving</td>
                <td>@item.Jaarbedrag</td>

            </tr>
        }*@
        </table>
    </div>
    <div id="partial" class="col-md-6">
        @Html.Partial("_uitzendkrachtenBesparingPartial")
    </div>
</div>