@model KostenBatenTool.Models.AnalyseViewModels.VoorbereidingsKostViewModel
@{
    ViewData["Title"] = "2. Voorbereiding start medewerker";
}

<h1>@ViewData["Title"]</h1>
<hr />


<div class="row">
    <h2 class="col-md-7">Welke kosten moet u ter voorbereiding maken om dit te implementeren?</h2>
    <a id="toevoegenFunctie" class="col-md-offset-4"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>
<div id="partial" class="row">
    <div class="col-md-6 col-md-offset-3">
        @Html.Partial("_voorbereidingsKostPartial")
    </div>
</div><div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-responsive table-striped functies">
            <tr>
                <th>Type</th>
                <th>Bedrag</th>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
            </tr>
            @*@foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Type</td>
                        <td>@item.Bedrag</td>

                    </tr>
                }*@
        </table>
    </div>
</div>