
@model KostenBatenTool.Models.AnalyseViewModels.WerkkledijKostViewModel
@{
    ViewData["Title"] = "3. Extra kosten werkkleding e.a. personeelskosten";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <h2 class="col-md-7">Welke extra kosten moet u structureel extra maken voor deze inhuur? (alleen kosten zoals werkkleding bij normale inhuur en bij reshoring alle kosten)</h2>
    <a id="toevoegenFunctie" class="col-md-offset-4"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>
<div class="row">
    <div class="col-md-6 ">
        <table class="table table-responsive table-striped functies">
            <tr>
                <th>Type</th>
                <th>Bedrag</th>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
            </tr>
            @*@foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Type</td>
                        <td>@item.Bedrag</td>

                    </tr>
                }*@
        </table>
    </div>
    <div id="partial" class="col-md-6">
        @Html.Partial("_werkkledijKostPartial")



    </div>
</div>